/* Basic styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(152deg, #ebd5d5 0%, #2542b2 100%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Login card styles */
.card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 2rem;

}
.text-center a{
  font-size: 0.9rem;
}

.form-group {
  margin-bottom: 0.5rem;
}

legend{
  font-size: 1.5rem;
  padding: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.3rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  box-sizing: border-box;
  font-size: 0.9rem;
}

.input-group {
  position: relative;
}

.input-group i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  padding: 0.4rem 0.75rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 0.9rem;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0069d9;
}

/* Password visibility toggle */
.fas.fa-eye {
  opacity: 0.5;
}

.fas.fa-eye.active {
  opacity: 1;
}

/* Password recovery section */
.recover-password {
  display: none;
}

.recover-password.d-none {
  display: block;
} 


.form-group.inactive {
  display: none;
}

/* .recover-password.show {
  display: block;
}  */


/* Responsive adjustments */
@media (max-width: 768px) {
  /* Adjust column sizes for smaller screens */
  .col-7,
  .col-5 {
    flex: 1 1 100%; /* Make each column take up the full width on smaller screens */
  }
}


@media (max-width: 576px) {
  /* Adjust padding and margin for even smaller screens */
  .card {
    padding: 0.5rem;
    
  }

  .form-group {
    margin-bottom: 0.5rem;
    font-size: 0.5rem;
  }
}

h5 {
  font-size: 0.5rem; /* Slightly reduce heading size */
}
