.centerDiv{
    position: relative;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    width: 14rem;
    border: solid thin;
    border-radius: 50px;
    margin-bottom: 1rem;
    background-color: rgb(182, 212, 182);
    height: auto;
    
}
.centerDiv h2{
    font-size: 1rem;
    cursor: pointer;
}

.cardDiv{
    width: 25rem;
    height: 20rem;
    background-color: rgb(253, 253, 253);
    border-radius: 20px;
    margin-left: 5rem;
}