.centerDiv{
    position: relative;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    width: 14rem;
    border: solid thin;
    border-radius: 50px;
    margin-bottom: 1rem;
    background-color: rgb(182, 212, 182);
    
}
.centerDiv h2{
    font-size: 1rem;
    cursor: pointer;
}

.cardDiv{
    width: 5rem;
    height: 5rem;
}